# materi 1

##widya situmorang
###103102400081

In [3]:
print("widya")

widya

In [5]:
lima = float(5)
lima

5.0

In [11]:
# Operator perbandingan
# a
x = 10
z = 15
g = x == z
h = a != b
i = a >= b
j = a <= b

print(g)

False

In [9]:
# logika dan

a = "Habil"
b = "Arifin"
c = "Sayyid"
d = "Rendika"

a = d == "Habil"
b = c == "Arifin"

hasil = a and b
hasil

False

In [13]:
# Input
nama = input("Masukkan nama Anda: ")

# Output
prodi = "sains data"
print("Nama Anda adalah", prodi)

Masukkan nama Anda:  widya

Nama Anda adalah sains data

In [15]:
# Input
# name = "Farrel"
name = input("Nama kamu siapa? ")

# Output
print("ohh jadi nama kamu", name)

Nama kamu siapa?  widya situmorang

ohh jadi nama kamu widya situmorang

In [21]:
nama = "Widya"
Umur = "18"

print('Nama saya',nama)
print(f'umur saya{Umur}')

Nama saya Widya
umur saya18

#materi 2

In [24]:
# Input bilangan dari pengguna
bilangan1 = float(input("Masukkan bilangan pertama: "))
bilangan2 = float(input("Masukkan bilangan kedua: "))

# Hitung penjumlahan
hasil = bilangan1 + bilangan2

# Cetak hasil
print("Hasil penjumlahan:", hasil)

Masukkan bilangan pertama:  5
Masukkan bilangan kedua:  6

Hasil penjumlahan: 11.0

In [26]:
# Input basis dan eksponen dari pengguna
basis = float(input("Masukkan basis: "))
eksponen = float(input("Masukkan eksponen: "))

# Hitung hasil pangkat
hasil = basis ** eksponen

# Cetak hasil
print("Hasil pangkat:", hasil)

Masukkan basis:  56
Masukkan eksponen:  78

Hasil pangkat: 2.2838422686555586e+136

In [28]:
# Input bilangan dari pengguna
bilangan1 = int(input("Masukkan bilangan pertama (integer): "))
bilangan2 = int(input("Masukkan bilangan kedua (integer): "))

# Hitung sisa bagi
hasil = bilangan1 % bilangan2

# Cetak hasil
print("Sisa bagi:", hasil)

Masukkan bilangan pertama (integer):  05
Masukkan bilangan kedua (integer):  06

Sisa bagi: 5

In [30]:
import math

# Input bilangan dari pengguna
bilangan = float(input("Masukkan bilangan: "))

# Hitung akar kuadrat
hasil = math.sqrt(bilangan)

# Cetak hasil
print("Akar kuadrat:", hasil)

Masukkan bilangan:  5550

Akar kuadrat: 74.4983221287567

In [32]:
# Input tinggi dan alas segitiga dari pengguna
tinggi = float(input("Masukkan tinggi segitiga: "))
alas = float(input("Masukkan alas segitiga: "))

# Hitung luas segitiga
luas = 0.5 * tinggi * alas

# Cetak hasil
print("Luas segitiga:", luas)

Masukkan tinggi segitiga:  15
Masukkan alas segitiga:  20

Luas segitiga: 150.0

In [34]:
# Input panjang dalam meter dari pengguna
panjang_meter = float(input("Masukkan panjang dalam meter: "))

# Konversi panjang ke kilometer dan sentimeter
panjang_kilometer = panjang_meter / 1000
panjang_sentimeter = panjang_meter * 100

# Cetak hasil
print("Panjang dalam kilometer:", panjang_kilometer)
print("Panjang dalam sentimeter:", panjang_sentimeter)

Masukkan panjang dalam meter:  20

Panjang dalam kilometer: 0.02
Panjang dalam sentimeter: 2000.0

In [36]:
# Input bilangan bulat positif dari pengguna
n = int(input("Masukkan bilangan bulat positif: "))

# Inisialisasi hasil dengan nilai awal 1
hasil = 1

# Hitung faktorial
for i in range(1, n + 1):
    hasil *= i

# Cetak hasil
print(f"Faktorial dari {n} adalah {hasil}")

Masukkan bilangan bulat positif:  50

Faktorial dari 50 adalah 30414093201713378043612608166064768844377641568960512000000000000

#materi 3

In [39]:
print("Hello world")

Hello world

In [41]:
print("widya")

widya

In [43]:
#print('nama saya widya')

In [45]:
#mencetak nilai 
print(05) #integer

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4284247444.py, line 2)

In [ ]:
Latihan
Jalankan program tersebut di komputer anda, menggunakan jupyter-notebook, google colab, ataupun jupyterlab
Buatlah program menggunakan print() seperti output dibawah catatan: ubahlah dengan menampilkan informasi atau biodata anda masing - masing, dengan menampilkan serta berikan komentar disetiap baris pada script anda.
Praktikum algoritma dan pemrograman
Nama : widya
NIM : 103102400081
Angkatan : 2024
Jurusan : Sains Data
Fakultas : informatika
Telkom university surabaya
Jalankan script dibawah ini, kemudian berikan penjelasan pada script maupun output nya, jika terjadi error, silahkan anda perbaiki
print("Ini Yaya") #mencetak penjelasan Yaya
print('Yaya bersekolah di SDN 1 pengombusan) #sekolah Yaya
prnt("Cita - cita ingin menjadi seorang Pramugari") #cita-cita Yaya

In [47]:
print("ini Yaya")

ini Yaya

In [49]:
print("yaya bersekolah di SDN 1 pangombusan")

yaya bersekolah di SDN 1 pangombusan

In [51]:
print("cita-cita ini menjadi pramugari")

cita-cita ini menjadi pramugari

#materi 4

In [54]:
# Meminta pengguna memasukkan dua angka
angka1 = float(input("Masukkan angka pertama: "))
angka2 = float(input("Masukkan angka kedua: "))

# Meminta pengguna memilih operasi
print("Pilih operasi:")
print("1. Penjumlahan")
print("2. Pengurangan")
print("3. Perkalian")
print("4. Pembagian")

Masukkan angka pertama:  5
Masukkan angka kedua:  6

Pilih operasi:
1. Penjumlahan
2. Pengurangan
3. Perkalian
4. Pembagian

In [56]:
# Menjalankan operasi yang dipilih
if pilihan == '1':
    hasil = angka1 + angka2
    print("Hasil penjumlahan:", hasil)
elif pilihan == '2':
    hasil = angka1 - angka2
    print("Hasil pengurangan:", hasil)
elif pilihan == '3':
    hasil = angka1 * angka2
    print("Hasil perkalian:", hasil)
elif pilihan == '4':
    if angka2 != 0:
        hasil = angka1 / angka2
        print("Hasil pembagian:", hasil)
    else:
        print("Pembagian oleh nol tidak diizinkan.")
else:
    print("Pilihan operasi tidak valid")

NameError: name 'pilihan' is not defined

In [60]:
biaya_bahan_baku = 5000 # Biaya bahan baku makanan
harga_penjualan = 8000  # Harga penjualan makanan
jumlah_pesanan = 100  # Jumlah porsi yang dipesan

if biaya_bahan_baku < harga_penjualan:
    if jumlah_pesanan > 100:
        harga_penjualan = harga_penjualan * 0.9  # Berikan diskon 10%
        profit = (harga_penjualan - biaya_bahan_baku) * jumlah_pesanan
        print('Profit yang didapatkan adalah ',profit)
    else:
        profit = (harga_penjualan - biaya_bahan_baku) * jumlah_pesanan
        print('profit yang didapatkan adalah ', profit)
else:
    profit = 0  # Tidak ada keuntungan karena biaya lebih tinggi dari harga jual
    print('profit yang didapatkan adalah ',profit)

profit yang didapatkan adalah  300000

#materi 5

In [63]:
print("Hwelo, world!:")

Hwelo, world!:

In [65]:
print(f"hello, world!")

hello, world!

In [67]:
# ini namanya komentar gaes!!!

"""
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
"""

print("Komentar tidak akan mengeluarkan output apapun")

Komentar tidak akan mengeluarkan output apapun

In [69]:
# Variabel
Nama = "Widya"
umur = 18
status_pernikahan = "Belum Menikah"
statuspernikahan = "Menikah"

In [71]:
# Tipe data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Halo, telkom!"
teks_multibaris = '''Widya
dan
Alvyn'''
boolean = True

# Menampilkan nilai variabel
print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Widya dan Umur: 18
Nama: Widya dan Umur: 18


Widya
dan
Alvyn

In [73]:
nama = "widya"
a = 15; b = 60
kesibukan, keterangan = 'Berkuliah','Institut Teknologi Telkom Surabaya'

In [75]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Halo, aku", nama, 'dan aku', makan, 'makan ayam goreng yang harganya Rp', harga)

Masukkan nama Anda:  widya
Berapa harganya?:  500000

Halo, aku widya dan aku sudah makan ayam goreng yang harganya Rp 500000

In [77]:
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print("Selamat anda lulus MatKul Algoritma & Pemrograman!")
elif nilai == 50:
    print('Semoga Lulus')
else:
    print("Maaf anda tidak lulus")

Masukkan nilaimu:  90

Selamat anda lulus MatKul Algoritma & Pemrograman!

In [79]:
for i in range(1,5):
    print(i)
    print('Namaku',i)

1
Namaku 1
2
Namaku 2
3
Namaku 3
4
Namaku 4

In [81]:
names = ['widya',"yura","lian","nindy"]
for name in names:
    print("Nama Saya",name)
    print("Ini cuman nyoba",name)

Nama Saya widya
Ini cuman nyoba widya
Nama Saya yura
Ini cuman nyoba yura
Nama Saya lian
Ini cuman nyoba lian
Nama Saya nindy
Ini cuman nyoba nindy

In [83]:
# Operator perbandingan
# a
x = 10
z = 15
g = x == z
h = a != b
i = a >= b
j = a <= b

print(g)

False

#materi 6

In [ ]:
def nama_fungsi(parameterFormal1, parameterFormalN):
	# function body / process
	# function body / process
	# function body / process
	return returned_variable # opsional, sesuai kebutuhan
Sintaks pembuatan function di atas secara umum terbagi menjadi 5 bagian:

Kata kunci def yang menjadi pertanda bahwa blok kode program adalah sebuah fungsi
Nama fungsi yang kita buat
Parameters yang akan diterima oleh fungsi yang kita buat (tidak wajib)
Dan blok kode fungsi yang di sana akan kita tulis perintah-perintah yang harus dilakukan oleh sebuah fungsi
Pengembalian nilai (menggunakan statement return) dilakukan secara opsional (sesuaikan dengan proses apa yang ingin dilakukan).

In [86]:
print('Hallo widya, selamat datang!')
print('Hallo yura, selamat datang!')
print('Hallo lian, selamat datang!')
print('Hallo nindy, selamat datang!')

Hallo widya, selamat datang!
Hallo yura, selamat datang!
Hallo lian, selamat datang!
Hallo nindy, selamat datang!

In [88]:
def selamat_datang (nama):
    print(f'Halo {nama}, selamat datang!')

selamat_datang('widya')
selamat_datang('yura')
selamat_datang('lian')
selamat_datang('nindy')

Halo widya, selamat datang!
Halo yura, selamat datang!
Halo lian, selamat datang!
Halo nindy, selamat datang!

In [90]:
def predikatMahasiswa(nilai1, nilai2, nilai3):
    rataRata = (nilai1 + nilai2 + nilai3)/3
    if rataRata >= 80 and rataRata <= 100:
        print("Selamat, predikat kamu A!")
    elif rataRata >= 60 and rataRata < 80:
        print("Predikat kamu B, pertahankan yaa!")
    elif rataRata >= 30 and rataRata < 60:
        print("Predikat kamu C, perbaiki ya!")
    elif rataRata >= 0 and rataRata < 30:
        print("hallo dunia")
        
nilaiMhs1 = int(input("Masukkan nilai pertama: "))
nilaiMhs2 = int(input("Masukkan nilai kedua: "))
nilaiMhs3 = int(input("Masukkan nilai ketiga: "))

Masukkan nilai pertama:  70
Masukkan nilai kedua:  100
Masukkan nilai ketiga:  50

In [92]:
def luasSegitiga(alas, tinggi):
    result = 0.5*alas*tinggi
    return result

hasilLuas = luasSegitiga(10, 10)
print(f"Luas Segitiga: {hasilLuas}")

Luas Segitiga: 50.0

In [94]:
def tambah_angka(x, y):
    return x + y

hasil = tambah_angka(5, 10)
print(hasil)

15

In [96]:
def jumlahkan(*args):
    return sum(args)

hasil_penjumlahan = jumlahkan(1, 2, 3, 4, 5,7)
print("Hasil penjumlahan:", hasil_penjumlahan)

Hasil penjumlahan: 22

In [98]:

def fungsi_ubah_global():
    global variabel_global
    variabel_global = 15

fungsi_ubah_global()
print(variabel_global)
# Output: 15

15

In [100]:
def fungsi_dengan_parameter(a, b=5):
    hasil = a + b
    print(hasil)

fungsi_dengan_parameter(3)
# Output: 8
fungsi_dengan_parameter(3, 7)
# Output: 10

8
10

In [102]:
def fungsi_parameter_tak_berurut(a, b, c):
    hasil = a + b + c
    print(hasil)

fungsi_parameter_tak_berurut(c=3, a=1, b=2)
# Output: 6

6

#materi 7

In [105]:
print("hello world")

hello world

In [107]:
Latihan
Jalankan program tersebut di komputer anda, menggunakan jupyter-notebook, google colab, ataupun jupyterlab
Buatlah program menggunakan print() seperti output dibawah catatan: ubahlah dengan menampilkan informasi atau biodata anda masing - masing, dengan menampilkan serta berikan komentar disetiap baris pada script anda.
Praktikum algoritma dan pemrograman
Nama : widya
NIM : 103102400081
Angkatan : 2024
Jurusan : Sains Data
Fakultas informatika
Telkom university surabaya
Jalankan script dibawah ini, kemudian berikan penjelasan pada script maupun output nya, jika terjadi error, silahkan anda perbaiki
print("Ini Budi") #mencetak penjelasan Budi
print('Budi bersekolah di SDN Kedung Baruk) #sekolah Budi
prnt("Cita - cita ingin menjadi seorang Pilot") #cita-cita budi

SyntaxError: unterminated string literal (detected at line 13) (1185013847.py, line 13)